<header>
    <link rel="stylesheet" href="css/header.css">
    <h1>Club de waterpolo</h1>
    <hr>
    
    <nav>
        <h2>Menu</h2>
        <menu>
            <menuitem> <a href="./index.html">Accueil</a> </menuitem>
            <menuitem> <a href="./joueurs.html">Joueurs</a> </menuitem>
            <menuitem> <a href="./perso.html">Espace abonné</a> </menuitem>
            <menuitem> <a href="./ambiance_match.html">Ambiance match</a> </menuitem>
            <menuitem> <a href="./moments_forts.html">Moments forts</a> </menuitem>
            <menuitem> <a href="./contact.html">Contact</a> </menuitem>
        </menu>
    </nav>
</header>