/* couleur de fond */
body {
    background-color: aliceblue;
}

main {
    margin-top: 100px;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
}

#menu-container {
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
}

.menuitem {
    text-align: center;
    margin: 0;
    padding: 5px;
    display: inline;
    width: 100%;
    background: linear-gradient(-45deg, #788cff, #b4c8ff);
}

.menuitem {
    color: blueviolet;
    text-decoration: none;
}

h2.menuitem {
    background: linear-gradient(-45deg, #556eff, #9ab5ff);
}
div.menuitem:hover {
    font-weight: bold;
    text-decoration: underline;
}

div.menuitem:active {
    background: linear-gradient(-45deg, #83ff78, #d0ffb4);
}

/* Headers */
h1,
h2,
h3,
h4 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
    background-color: rgba(159, 43, 226, 0.3);
    box-shadow: 0px 0px 20px 9px rgba(159, 43, 226, 0.2);
}

h2 {
    color: rgb(0, 119, 255);
}

h3 {
    color: rgb(0, 183, 255);
}
