/* couleur de fond */
body {
    background-color: aliceblue;
}

main {
    margin-top: 100px;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
}

/* flex */
.menu-container {
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
}

.menuitem, .menu-title {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 5px;
    display: inline;
    background: linear-gradient(-45deg, #788cff, #b4c8ff); /* gradient principal */
    color: blueviolet;
    text-decoration: none;
}

.menu-title {
    background: linear-gradient(-45deg, #ce78ff, #f3b4ff); /* gradient principal */
}

.menuitem:hover {
    font-weight: bold;
    text-decoration: underline;
}

.menuitem:active, #current {
    background: linear-gradient(-45deg, #83ff78, #d0ffb4); /* couleur onglet actif */
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    text-decoration: none;

}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a,
.dropdown:hover .dropdown-content {
    display: block;
}

.menuitem:hover, .dropdown-content a:hover {
    background: linear-gradient(-45deg, #556eff, #9ab5ff); /* gradient foncé */
}

/* Headers */
h1,
h2,
h3,
h4 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
    background-color: rgba(159, 43, 226, 0.3);
    box-shadow: 0px 0px 20px 9px rgba(159, 43, 226, 0.2);
}

h2 {
    color: rgb(0, 119, 255);
}

h3 {
    color: rgb(0, 183, 255);
}
