/* Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 2px solid #a7a7a7; /* Gris */
    text-align: left;
    padding: 5px;
}

th {
    background-color: #9c897f; /* Marron clair */
}

/* Une ligne sur deux */
tr:nth-child(even) {
    background-color: #dddddd; /* Beige */
}

tr:hover {
    background-color: rgba(117, 85, 24, 0.26); /* plus foncé */
}

/* Images */
img {
    width: 150px;
    height: 150px;
}

/* Bouton agrandir */
button {
    background-color: #008cba; /* Blue */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.agrandir {
    background-color: white;
    color: black;
    border: 2px solid #008cba;
}

.agrandir:hover {
    background-color: #008cba;
    color: white;
}
